#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

button:hover {
    color: red;

}
button {
  margin : 0 10px;
}
.button-st {
  box-sizing: border-box;
}
.model-user-container {
  .modal-user-body {
    display: flex;
    gap : 10px;
    flex-wrap: wrap;
 
    .input-container {
      display: flex;
      flex : 1;
      flex-basis: 10%;
      flex-direction: column;
      
      input {
        
        border-radius : 3px;
        height :30px;
        border : 1px solid grey;
        outline :none;
        padding-left : 10px;
      }
    }
   
  }

 
}
button.btn.btn-primary.but {
  padding: 0 16px;
}
button.btn.btn-secondary.but {
  padding: 0 12px;
}